.title {
    background-color: #4D923E;
    color: white;
    text-align: left;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 800;
    font-size: 35px;
}

.title h3 {
    margin-top: 0;
}

/* .title span {
    color: black;
}

.title #red {
    color: black;
} */

.login {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
}

.login-link {
    /* color: ; */
    text-decoration: none;
    font-size: large;
}

.header {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 24px;
}

img {
    width: 100%;
    height: 100vh;
}